/**Bootstrap logo**/

.navbar-brand{
	font-size: 23px;
}

/****/

.box{
	position: relative;
	top: 30px;
}

section.banner{
	padding: 210px 0;
	position: relative;
	min-height: 400px;
	background-image: url('../images/bg.jpg');
	width: 100%;
	background-size: cover;
	background-position: center;
}

section.banner > .container{
	position: relative;
	z-index: 2;
}

.overlay{
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	background: rgba(15,15,15,0.5);
}

.chamada-banner h2{
	color: #26A599;
	font-size: 50px;
}

.chamada-banner p{
	margin: 24px 0;
	color: white;
	font-size: 21px;
}

.chamada-banner a{
	display: inline-block;
	color: white;
	font-size: 19px;
	padding: 10px 18px;
	background: #26A69A;
}

section.cadastro-lead {
	background-color: #26A69A;
	padding: 20px 0;
}

section.cadastro-lead h2{
	color: white;
	font-size: 24px;
	vertical-align: middle;
}

section.cadastro-lead form{
	position: relative;
	top: 10px;
}

section.cadastro-lead input[type=text]{
	width: 85%;
	padding-left: 8px;
	height: 40px;
	border: 1px solid #ccc;
}

section.cadastro-lead input[type=submit]{
	width: 15%;
	height: 40px;
	border: 1px solid #ccc;
}

section.depoimento{
	padding: 40px 0;
}

section.depoimento h2{
	color: #4b4b4b;
}

section.depoimento blockquote{
	color: #4b4b4b;
	font-size: 16px;
}

section.diferenciais{
	padding: 20px 0;
	background: rgb(225,225,225);
}

section.diferenciais > h2{
	color: #4b4b4b;
}

.diferenciais-container{
	margin-top: 30px;
}

.diferenciais-container h3{
	color: #26A69A;
}

.diferenciais-container h2{
	font-size: 22px;
}

@media screen and (max-width: 1024px){
	section.cadastro-lead form{
		position: relative;
		top: 0px;
	}
}